body {
    background-color: #674bb1;
    background-image: url(https://i.ibb.co/WFqfqcg/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

/* Left Side */
.left-side {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 800px;
}

#huddle {
    width: 250px;
    margin: 50px 0px auto 0px;
}

#illustration {
   width: 100%; 
   margin-bottom: auto;
}



/*Right Side*/

.right-side {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   width: 700px;
}

#headline {
    font-weight: 700;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: 0px;
}

#subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

button {
    color: #a04eca;
    background-color: white;
    width: 200px;
    height: 60px;
    border: 0px;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    
}

.social-icons {
    margin: 50px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
}

/* Media Query */

@media (max-width: 375px) {

    #huddle {
        width: 150px;
        margin-top: 15px;
    }

    #illustration {
        width: 300px;
        align-self: center;
    }

    #headline {
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
    }

    #subtitle {
        font-size: 18px;
        text-align: center;
        line-height: 30px;
    }
    
    button {
        width: 230px;
        height: 50px;
        margin: 0 auto;
        font-size: 15px;
    }

    .social-icons {
        align-self: center;
        margin: auto;
        font-size: .8em;
    }
}